<!DOCTYPE html>
<html>
    <head>
        <title>Game</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/game">Game</a>
        </nav>

        <h1>The 4*4 Puzzle Game</h1>


    </body>
</html>