<!DOCTYPE html>
<html>
    <head>
        <title>Introduction</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/game">Game</a>
        </nav>

        <h1>My Introduction</h1>
        <p>Name: YUCHEN HUANG </p>
        <p>Study: Web Application Development</p>
        <p>This is my JC2503 assignment.</p>


    </body>
</html>